@font-face {
	font-family: 'BackIssues';
	src: url('assets/fonts/BackIssuesBB_reg.ttf');
}

body {
	font-family: 'BackIssues';
	background: rgba(255,229,173,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,229,173,1)), color-stop(100%, rgba(245,151,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5ad', endColorstr='#f59700', GradientType=1 );
}

.nav {

	text-decoration: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 0px;

	li {
		display: inline-block;
		line-height: 198px;
		vertical-align: top;
		width: 33%;
		text-align: center;

		img {
			width: 70%;
			max-width: 263px;
		}
	}

	li[data-route="home"] {
		line-height: initial;
	}

	> li > button {
		border: none;
		background-color: transparent;
		outline: none;
		font-family: 'BackIssues';
		font-size: 20px;
		letter-spacing: .1em;

		&:hover {
			text-shadow: 2px 2px #ff0000;
		}
	}

}

.home {
	width: 100%;
	position: absolute;
	top: 100px;
	z-index: -1;

}

.home-banner {
	background-image: url('assets/images/The_Marvel_Universe.png');
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 50vw;
}

.headline {
	text-align: center;
}

.page-region {
	width: 100%;

	div {
		
		h3 {
			text-align: center;
		}

		.search {
			width: 100%;

			&.hidden {
				display: none;
			}
		}

		.search-region {
			text-align: center;
			width: 80%;
			margin: 2em auto;	
		}

		.search-input {
			width: 80%;
			height: 2.5em;
			padding: .2em;
		}

		.search-button {
			height: 3.2em;
			padding: 1em 2em;
		}
	}

	.battle {
		width: 100%;
	}

	.battle-slots-region {
		height: 400px;

		> div {
			box-sizing: border-box;
			width: 50%;
			float: left;
			border: 1px solid black;
			height: 400px;
			background-color: white;

			p {
				text-align: center;
			}

			> div {
				background-size: cover;
				height: inherit;
			}
		}
	}

}

.battle-button,
.battle-again {
	display: block;
	text-align: center;
	height: 5em;
	background-color: red;
	margin: 2em auto;
	width: 30%;
}

.battle-again {
	display: none;
}

.battle-again.active {
	display: block;
}

.character-list {
	text-decoration: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		box-sizing: border-box;
		width: 33%;
		margin: 1em 0;

		div {
			margin-bottom: 1em;
		}

		img {
			border: 1px solid white;
			border-radius: 50%;
		}
	}
}

.modal {
	display: none;
	position: fixed;

	.view-region {
		width: 60%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 80vh;
		overflow: scroll;
		transform: translateY(-50%) translateX(-50%);
		background-color: #fff;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
		padding: 2em;

		> div {
			font-size: 0px;
		}

		> div > img {
			width: 50%;
		}

		.details {
			text-align: center;
			display: inline-block;
			vertical-align: top;
			width: 50%;


			> h2 {
				margin: 0;
				font-size: 20px;
			}

			> p {
				font-size: 14px;
			}
			
		}

		.stats {
			font-size: 14px;

			ul {
				list-style: none;
				padding: 0;

				li {

					padding: 1em 0;
				}
			}
		}
	}

	&.visible {
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}

}

.log-region > div{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px 20px 0 0;;


	.tabs {
		text-align: center;
		font-size: 0px;
		height: 30px;
		line-height: 30px;
		display: none;
	}

	.tabs.active {
		display: block;
	}

	button {
		width: 50%;
		box-sizing: border-box;
		border-bottom: none;
		border-radius: 0 20px 0 0;
		line-height: 30px;
		display: inline-block;
	}

	.log-button {
		background-color: white;
		border-left: white;
		border-radius: 20px 0 0 0;
	}

	.tab {
		display: none;
	}

	.results {

	}

	.leftresult,
	.rightresult {
		display: inline-block;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		width: 49%;
	}

	.leftresult img,
	.rightresult img {
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.log {
		ul {
			list-style: none;

			  li {
			 	padding-bottom: 20px;
			 }
		}
	}

	.active {
		display: block;
	}
}

.cf {
	:after {
		content: '';
		display: table;
		clear: both;
	}
}


