@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@font-face {
	font-family: 'BackIssues';
	src: url('assets/fonts/BackIssuesBB_reg.ttf');
}

@font-face {
	font-family: 'KomiKax';
	src: url('assets/fonts/KOMIKAX_.ttf');
}

@font-face {
	font-family: 'SmartKid';
	src: url('assets/fonts/Smart_Kid.otf')

}

body {
	font-family: 'BackIssues', sans-serif;
	background: rgba(255,229,173,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,229,173,1)), color-stop(100%, rgba(245,151,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,229,173,1) 0%, rgba(245,151,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5ad', endColorstr='#f59700', GradientType=1 );
	margin: 0;
}

.halftone-overlay {
	background-image: url('assets/images/halftone.png');
	background-size: 4px;
	position: fixed;
	top: 0;
	width: 100%;
	height:100%;
	z-index: 0;
}

.page-content {
	position: relative;
	z-index: 2;
}

.nav {

	text-decoration: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 0px;

	li {
		display: inline-block;
		line-height: 198px;
		vertical-align: top;
		width: 33%;
		text-align: center;

		img {
			width: 70%;
			max-width: 263px;
		}
	}

	li[data-route="home"] {
		line-height: initial;
	}

	> li > button {
		border: none;
		background-color: transparent;
		outline: none;
		font-family: 'KomiKax';
		font-size: 14px;
		letter-spacing: .1em;
		padding: .5em 1em;
		border-radius: 0;
		background-color: #e93f33;
		border: 2px solid black;
		box-shadow: 2px 4px black;
		color: black;

		&:hover {
			text-shadow: 2px 2px #ff0000;
		}
	}

}

.home {
	width: 100%;
	position: absolute;
	top: 100px;
	z-index: -1;

	> h2 {
		color: black;
		font-family: 'Titillium Web';
		font-size: 38px;
		text-transform: uppercase;
		font-weight: 900;
		margin: 0 0 20px 0;
		-webkit-text-fill-color: #e93f33; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		text-shadow: 3px 2px black;
	}

}

.home-banner {
	background-image: url('assets/images/The_Marvel_Universe.png');
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 50vw;
}

.headline {
	text-align: center;
}

.page-region {
	width: 100%;

	div {
		
		h3 {
			text-align: center;
			color: black;
			letter-spacing: .03em;
			font-family: 'Titillium Web';
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 900;
			-webkit-text-fill-color: #e93f33; /* Will override color (regardless of order) */
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: black;
			text-shadow: 3px 2px black;
		}

		.search {
			width: 100%;

			&.hidden {
				display: none;
			}
		}

		.search-region {
			text-align: center;
			width: 80%;
			margin: 2em auto;
		}

		.search-input {
			width: 80%;
			height: 2.5em;
			padding: .2em;
			border: 2px solid black;
		}

		.search-button {
			height: 3.2em;
			padding: 1em 2em;
			border-radius: 0;
			font-family: 'BackIssues';
			background-color: #e93f33;
			border: 2px solid black;
			color: black;
		}
	}

	.battle {
		width: 100%;
	}

	.battle-slots-region {
		height: 350px;

		> div {
			box-sizing: border-box;
			width: 50%;
			float: left;
			border: 1px solid black;
			height: 350px;
			background-color: white;

			p {
				text-align: center;
			}

			> div {
				background-size: cover;
				background-position: center;
				height: inherit;
			}
		}
	}

}

.battle-button,
.battle-again {
	display: block;
	text-align: center;
	height: 5em;
	margin: 2em auto;
	width: 30%;
	border-radius: 0;
	font-family: 'BackIssues';
	background-color: #e93f33;
	border: 2px solid black;
	line-height: 5em;
	color: black;
}


.list-region {
	margin-top: 30px;
}
.battle-again {
	display: none;
}

.battle-again.active {
	display: block;

}

.character-list {
	text-decoration: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		box-sizing: border-box;
		width: 33%;
		margin: 1em 0;

		div {
			margin-top: 1em;
		}

		img {
			border: 1px solid white;
			border-radius: 50%;
			-webkit-box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.56);
			-moz-box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.56);
			box-shadow: 1px 1px 35px 0px rgba(0,0,0,0.56);
		}
	}
}



.modal {
	display: none;
	position: fixed;

	.view-region {
		width: 60%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		background-color: #fff;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

		> div {
			font-size: 0px;
		}

		.details {
			padding: 20px;
			padding-top: 12px;
		}

		.left-details > img {
			width: 100%;
			margin-top: 8px;
		}

		.right-details {
			display: inline-block;
			vertical-align: top;
			width: 60%;
			box-sizing: border-box;
			padding-left: 20px;

			> h2 {
				margin: 0;
				font-size: 30px;
				color: black;
				letter-spacing: .03em;
				font-family: 'Titillium Web';
				text-transform: uppercase;
				font-weight: 900;
				-webkit-text-fill-color: #e93f33; /* Will override color (regardless of order) */
				-webkit-text-stroke-width: 2px;
				-webkit-text-stroke-color: black;
				text-shadow: 3px 2px black;
			}

			> p {
				font-size: 14px;
			}
			
		}

		.stats {
			font-size: 0;
			background-color: darkblue;
			padding: 20px;
			margin-top: 20px;

			ul {
				list-style: none;
				padding: 0;
				font-size: 14px;
				margin: 0;
				color: white;

				li {

					margin-bottom: 6px;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}

	&.visible {
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}

}

.send {
	border-radius: 0;
	font-family: 'BackIssues';
	background-color: #e93f33;
	border: 2px solid black;
	height: 3em;
	line-height: 3em;
	color: black;
	padding: 0 1em;
	margin-top: 20px;

}

.log-region {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.log-region > div {	
	background-color: white;
	border: 1px solid black;
	border-radius: 20px 20px 0 0;
	height: 300px;
	overflow: scroll;
	padding-top: 30px;


	.tabs {
		text-align: center;
		font-size: 0px;
		height: 30px;
		line-height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: none;
	}

	.tabs.active {
		display: block;
	}

	button {
		width: 50%;
		box-sizing: border-box;
		border-bottom: none;
		line-height: 30px;
		display: inline-block;
	}

	.results-button {
		border-radius: 0 20px 0 0;
	}

	.log-button {
		border-radius: 20px 0 0 0;
	}

	.results-button.active {
		background-color: white;
		border-left: black;

	}

	.log-button.active {
		background-color: white;
		border-right: black;
	}

	.tab {
		display: none;
	}

	.tab.active {
		padding-top: 40px;
	}

	.leftresult,
	.rightresult {
		display: inline-block;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		width: 49%;
		text-align: center;
	}

	.leftresult img,
	.rightresult img {
		display: inline-block;
		border-radius: 50%;
		margin: 0 auto;
		padding: 0;
		width: 80%;
	}

	.log {
		ul {
			list-style: none;

			  li {
			 	padding-bottom: 20px;
			 }
		}
	}

	.tab.active {
		display: block;
	}
}

.cf {
	:after {
		content: '';
		display: table;
		clear: both;
	}
}


